body {
    overflow-x: visible !important;
  }
  
  .container {
    max-width: 885px;
  }
  
  
  [v-cloak] {
    display: none;
  }
  
  #app a, #app button {
    cursor: url(https://kingcounty.gov/~/media/depts/regional-animal-services/images/All-Images/paw.ashx), pointer;
  }
  .fadeIn {
    -webkit-animation: fadeIn 1.5s ease;
    animation: fadeIn 1.5s ease;
  }
  .modal-backdrop {
    opacity: 0.9 !important;
  }
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    font-weight: 600;
    font-size: 18px;
    bottom: 0;
    padding: .5rem;
    z-index: 2000;
  }
  
  .stickyResults {
    background: #a5c727;
    color: #000000;
  }
  .stickyNoresults {
    background: #aa1e1e;
    color: #ffffff;
  }
  .filter-button-row li {
    margin-bottom: .5rem;
  }
  #filterButton {
    border: 1px solid #3c7893;
    color: #3c7893;
    font-size: 14px;
    font-weight: 400;
  }
  #filterButton:focus,
  #filterButton:focus-within,
  #filterButton:active {
    outline: 3px solid #84a02d;
    outline-style: outset;
  }
  #filterModal label {
    margin-top: 1rem;
  }
  
  .animal-card:hover {
    box-shadow: 5px 5px 3px #e8e8e8;
  }
  .animal-card button span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  button.animal-link {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #3c7893;
    background-color: #fff;
    padding: .5rem;
    border: .5px solid #3c7893;
    border-radius: 3px;
  }
  
  button.animal-link:hover, button.animal-link:focus {
    color: #fff;
    background-color: #3c7893;
    outline-offset: 0;
  }
  button.animal-link:active {
    background-color: #ffffff;
    color: #3c7893; 
  }
  .pet-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  p.bg-success a {
    color: darkblue;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(45deg)
  }
  .paws {
    margin-bottom: 2rem;
  }
  .top-right {
    margin-left: 3rem;
    -webkit-animation: fadeout 2s ease infinite;
    animation: fadeout 2s ease infinite;
    opacity: 0;
    animation-delay: 1.5s;
  }
  .top-left {
    margin-right: 3rem;
    -webkit-animation: fadeout 2s ease infinite;
    animation: fadeout 2s ease infinite;
    opacity: 0;
    animation-delay: 1s;
  }
  .bottom-right {
    margin-left: 3rem;
    -webkit-animation: fadeout 2s ease infinite;
    animation: fadeout 2s ease infinite;
    opacity: 0;
    animation-delay: .5s;
  }
  .bottom-left {
    margin-right: 3rem;
    -webkit-animation: fadeout 2s ease infinite;
    animation: fadeout 2s ease infinite;
    opacity: 0;
    animation-delay: 0s;
  }
  
  @-webkit-keyframes fadeout {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.75;
    }
    50% {
      opacity: 0.25;
    }
    75% {
      opacity: 0.01;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.75;
    }
    50% {
      opacity: 0.25;
    }
    75% {
      opacity: 0.01;
    }
    100% {
      opacity: 0;
    }
  }
  
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.75;
    }
    75% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.75;
    }
    75% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  
  #modal-image-container {
    padding-left: 1rem;
    padding-right: 0;
  }
  @media only screen and (max-width: 767px) {
    #modal-image-container {
      padding-left: 0;
    }
  }